<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/header' %>
	<div class="container">	
	
		<%= yield %>
		<div class="btn-group">
 			<%= link_to "home", root_path, class: "btn btn-primary btn-lg" %>
 			<%= link_to "about", about_path, class: "btn btn-primary btn-lg" %>
  		<%= link_to "test", test_path, class: "btn btn-primary btn-lg" %>
		</div>
	</div>

</body>
</html>
